@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #14213d;
  background: #e5ecf4;
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
